.trade-container {
    font-family: 'Arial', sans-serif;
    padding: 30px;
    max-width: 700px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.dropdown-container {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #555;
}

#tradingPair {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price-container {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.price-info {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:not(:disabled):nth-of-type(1) {
    background-color: #28a745;
}

button:not(:disabled):nth-of-type(1):hover {
    background-color: #218838;
}

button:not(:disabled):nth-of-type(2) {
    background-color: #dc3545;
}

button:not(:disabled):nth-of-type(2):hover {
    background-color: #c82333;
}

button:not(:disabled):active {
    transform: scale(0.98);
}
.footer{
    display: flex;
    justify-content: space-between;
  }
  .footer-section{
    width:97%;
    padding: 12px 17px;
    cursor: pointer;
    border-radius: 12px;
    background-color:transparent;
    font-weight: bold;
    font-size: medium;
    margin-top: 80%;
  }
  .link-item {
    text-decoration: none;
    width:100%;
  }